<% if obj.errors.any? %>
  <div class = 'alert alert-error'>
    <h5>Here are some missing items:</h5>
    <ul>
    <% obj.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>