<div id='footer'>
  <hr>
  <p>CopyRight 2015</p>
  <p>Designd by: Chiwen</p>
  <p>Mentor: Tealeaf Academy</p>
  <p>BLOG: <a href='http://chiwenchen.github.io'>Ruby Rulling all things</a></p><br>
</div>